@font-face {
    font-family: luckiest_guy;
    src: url(./assets/fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf);
}

@font-face {
    font-family: bebas;
    src: url(./assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

body{
    margin: 0;
    background-image: url(./assets/img/background_img_universe.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    height: 60px;
    width: 100%;
    background-color: rgb(7, 60, 95);
    display: flex;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p{
    font-family: luckiest_guy;
}

.d_none{
    display: none !important;
}

.content_border{
    width: 1440px
}

.title_header{
    color: white;
}

.logo_header{
    height: 60px;
}
.header_sorting{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img_loading_spinner{
    height: 200px;
    width: auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.content_loading_spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text_loading_spinner{
    font-size: 60px;
    color: red;
}
