.fire_border{
    background-color: #993227;
}

.water_border{
   background-color: #3253DD; 
}

.ice_border{
    background-color: #9CD0F3;
}

.grass_border{
    background-color: #6AC659;
}

.poison_border{
    background-color: blueviolet;
}

.bug_border{
    background-color: #2B4929;
}

.flying_border{
    background-color: #53657A;
}

.dragon_border{
    background-color: #5A8793;
}

.electric_border{
    background-color: #E3E245;
}

.fairy_border{
    background-color: orchid;
}

.ghost_border{
    background-color: mediumslateblue;
}

.ground_border{
    background-color: #9C7531;
}

.steel_border{
    background-color: #64746D;
}

.rock_border{
    background-color: #411C0E;
}

.dark_border{
    background-color: #5A5978;
}

.fighting_border{
    background-color: #D96D40;
}

.psychic_border{
    background-color: #DE4390;
}

.normal_border{
   background-color: #6E535B; 
}