.fire_background{
    background-color: #993227;
}

.water_background{
   background-color: #3253DD; 
}

.ice_background{
    background-color: #9CD0F3;
}

.grass_background{
    background-color: #6AC659;
}

.poison_background{
    background-color: blueviolet;
}

.bug_background{
    background-color: #2B4929;
}

.flying_background{
    background-color: #53657A;
}

.dragon_background{
    background-color: #5A8793;
}

.electric_background{
    background-color: #E3E245;
}

.fairy_background{
    background-color: orchid;
}

.ghost_background{
    background-color: mediumslateblue;
}

.ground_background{
    background-color: #9C7531;
}

.steel_background{
    background-color: #64746D;
}

.rock_background{
    background-color: #411C0E;
}

.dark_background{
    background-color: #5A5978;
}

.fighting_background{
    background-color: #D96D40;
}

.psychic_background{
    background-color: #DE4390;
}

.normal_background{
   background-color: #6E535B; 
}

/* light background */

.fire_background_light{
    background-color: rgba(153, 50, 39, 0.88);
}

.water_background_light{
   background-color: rgba(50, 83, 221, 0.88); 
}

.ice_background_light{
    background-color: rgba(156, 208, 243, 0.88);
}

/* Link zum Umwandeln von Hex in rgb Farben https://rgbacolorpicker.com/hex-to-rgba*/
.grass_background_light{
    background-color: rgba(106, 198, 89, 0.8);
}

.poison_background_light{
    background-color: rgba(138, 43, 226, 0.8);
}

.bug_background_light{
    background-color: rgba(43, 73, 41, 0.8);
}

.flying_background_light{
    background-color: rgba(83, 101, 122, 0.8);
}

.dragon_background_light{
    background-color: rgba(90, 135, 147, 0.8);
}

.electric_background_light{
    background-color: rgba(227, 226, 69, 0.8);
}

.fairy_background_light{
    background-color: rgba(218, 112, 214, 0.8);
}

.ghost_background_light{
    background-color: rgba(123, 104, 238, 0.8);
}

.ground_background_light{
    background-color: rgba(156, 117, 49, 0.8);
}

.steel_background_light{
    background-color: rgba(100, 116, 109, 0.8);
}

.rock_background_light{
    background-color: rgba(65, 28, 14, 0.8);
}

.dark_background_light{
    background-color: rgba(90, 89, 120, 0.8);
}

.fighting_background_light{
    background-color: rgba(217, 109, 64, 0.8);
}

.psychic_background_light{
    background-color: rgba(222, 67, 144, 0.8);
}

.normal_background_light{
   background-color: rgba(110, 83, 91, 0.8);
; 
}

/* border */
.fire_border{
    border: 5px solid #993227;
}

.water_border{
   border: 5px solid #3253DD; 
}

.ice_border{
    border: 5px solid #9CD0F3;
}

.grass_border{
    border: 5px solid #6AC659;
}

.poison_border{
    border: 5px solid blueviolet;
}

.bug_border{
    border: 5px solid #2B4929;
}

.flying_border{
    border: 5px solid #53657A;
}

.dragon_border{
    border: 5px solid #5A8793;
}

.electric_border{
    border: 5px solid #E3E245;
}

.fairy_border{
    border: 5px solid orchid;
}

.ghost_border{
    border: 5px solid mediumslateblue;
}

.ground_border{
    border: 5px solid #9C7531;
}

.steel_border{
    border: 5px solid #64746D;
}

.rock_border{
    border: 5px solid #411C0E;
}

.dark_border{
    border: 5px solid #5A5978;
}

.fighting_border{
    border: 5px solid #D96D40;
}

.psychic_border{
    border: 5px solid #DE4390;
}

.normal_border{
   border: 5px solid #6E535B; 
}