.sort_content_overlay{
    position: relative;
    z-index: 1;
    padding-top: 50px;
}

.overlay_pokemon{
    height: 600px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: 3;
    aspect-ratio: 1/2;
    border: solid 2px white;
    box-shadow: 2px 0px 57px 41px rgba(255,255,255,0.75);
-webkit-box-shadow: 2px 0px 57px 41px rgba(255,255,255,0.75);
-moz-box-shadow: 2px 0px 57px 41px rgba(255,255,255,0.75);
}


.sort_id_name_overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 350px;
}

.sort_header_overlay{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sort_x_button{
    display: flex;
    justify-content: right;
}

.x_button{
    background-color: #000000;
    color: white;
    border-radius: 5px;
}

.x_button:hover{
    cursor: pointer;
}

.image_overlay{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sort_next_previus_button{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.img_button_pokeball{
    height: 30px;
}

.style_next_previous_button{
    display: flex;
    align-items: center;
    font-family: bebas;
    gap: 8px;
}

.style_next_previous_button:hover{
    cursor: pointer;
    border: 2px solid gray;
}

.img_pokemon_overlay{
    height: 150px;
    width: auto;
}

.pokemon_information_switch_buttons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button_pokemon_information{
    width: 60px;
    font-family: bebas;
}

.button_pokemon_information:hover{
    cursor: pointer;
}

.container_detail_information{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: bebas;
    font-size: 20px;
    height: 180px;
    align-items: start;
}

.button_information_activiated{
    background-color: #2d2d2dc5;
    color: white;
}


