.class_pokemon_card{
    height: 300px;
    background-color: #e9e9e9;
    width: 200px;
    border-radius: 10px;
}

.class_pokemon_card:hover{
    -webkit-box-shadow: 5px 5px 15px 5px #FF8080, 
                        -9px 5px 15px 5px #FFE488, 
                        -7px -5px 15px 5px #8CFF85, 
                        12px -5px 15px 5px #80C7FF, 
                        12px 10px 15px 7px #E488FF, 
                        -10px 10px 15px 7px #FF616B, 
                        -10px -7px 27px 1px #8E5CFF, 
                        -3px 8px 50px -16px #000000; 
    box-shadow: 5px 5px 15px 5px #FF8080, 
                -9px 5px 15px 5px #FFE488, 
                -7px -5px 15px 5px #8CFF85, 
                12px -5px 15px 5px #80C7FF, 
                12px 10px 15px 7px #E488FF, 
                -10px 10px 15px 7px #FF616B, 
                -10px -7px 27px 1px #8E5CFF, 
                -3px 8px 50px -16px #000000;
    cursor: pointer;
    transform: scale(1.1);
            }

.show_pokemon{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 50px;
}

.sort_all_elements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.sort_id_name_pokemon{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 20px;
}

.sort_img_pokemon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.sort_all_pokemon{
    display: flex;

}

#id_search_pokemon{
    margin-top: 50px;
    margin-bottom: 50px;
}

.img_pokemon{
    height: 150px;
    width: auto;
}

.class_sort_lable_type_pokemon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.label_each_pokemon{
    background-color: white;
    border-radius: 20px;
    padding: 4px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: bebas;
    min-width: 35px;
}

